.bayan {
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}


.bayan__cross {
	margin: 0;
	transform: rotate(45deg);
}

.bayan label {
	font-size: 1.7rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
} 

.bayan input {
	display: none;
}
 
.bayan article {
	overflow: hidden;
	height: 0;
	transition: height 0.3s ease-in-out;
}
 
.bayan input:checked~article {
	transition: height 0.3s ease-in-out;
	height: 25em;
}

.bayan input:checked~.bayan__lable {
	color: #0059D9;
	fill: #0059D9;
}

.bayan input:checked~.bayan__lable .bayan__cross {
	transform: rotate(-45deg);
}